{% extends "to_do_list/base.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"></a>
              <small class="text-muted">made by BME students: Azamat and Bexultan</small>
            </div><center>
              <h2>Project is still updating.</h2>
            <p><a class="article-title" >This is laboratory project 1. Project is presented as design and implementation of registration website. Backend: Python Django Framework.</a></p>
            <p class="article-content">Laboratory project 1</p></center>
          </div>
        </article>

{% endblock content %}