{% extends "to_do_list/base.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Home page</a>
              <small class="text-muted">made by BME students</small>
            </div>
              <center>
              <h2>Main Page</h2>
            <p>Онлайн-школа иностранных языков Language Life – дружный интернациональный коллектив профессиональных опытных преподавателей. Мы верим в то, что передовые технологии играют важнейшую роль в изучении иностранных языков и межкультурном обмене! Наши уроки отличаются высоким качеством и доступной ценой.

Мы предлагаем индивидуальные уроки иностранных языков через Скайп с носителями языка из разных стран, профессионалами, хорошо говорящими по-русски. На наших уроках мы используем современные инновационные материалы, которые делают наши уроки запоминающимися и динамичными.

В нашей школе у вас будет возможность изучать разговорный язык, подготовиться к экзаменам, выучить бизнес-лексику и проникнуться культурой изучаемого языка. Уроки через Скайп позволяют преподавателю сосредоточиться на индивидуальных целях каждого студента. Вы сами выбираете время ваших уроков и преподавателя!

Всем известно, что индивидуальные уроки позволяют студентам быстро продвигаться в изучаемом языке, а также эффективно поддерживать его уровень. Скайп, в свою очередь, делает такие уроки простыми, доступными и интересными!</p>
            <p class="article-content">Laboratory project 1</p>
                  </center>
          </div>
        </article>

{% endblock content %}